{:builds
 {:app
  {:asset-path "public/js",
   :dev       {:compiler-options {:external-config {:guardrails {}}
                                  :closure-defines {'goog.DEBUG true}}}
   :devtools {},
   :modules {:main {:init-fn app.core/main}},
   :output-dir "public/js",
   :target :browser},
  :e2e {:ns-regexp "e2e.*", :output-to "out/e2e.js", :target :node-test},
  :tests
  {:devtools {:http-port 8021, :http-root "public/js/test"},
   :target :browser-test,
   :test-dir "public/js/test"}},
 :deps true,
 :dev-http {3000 "public"},
 :nrepl {:port 3333}}